<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <link rel="stylesheet" type="text/css" href="/style.css" />

    <title>Code Gigs</title>
</head>
<body>
    <header>
        <span class="logo"><i class="fas fa-code"></i> Code Gigs</span>
        <nav>
            <ul>
                <a href="/"><li {{#if nav1}}class="active"{{/if}}>Home</li></a>
                <a href="/gigs"><li {{#if nav2}}class="active"{{/if}}>All Gigs</li></a>
                <a href="/gigs/add"><li {{#if nav3}}class="active"{{/if}}>Add Gig</li></a>
            </ul>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>