<form action="/gigs" method="GET">
    <div class="search-bar">
        <input 
            type="text"
            name="search"
            placeholder="Example: javascript"
        />
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>
</form>